#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.screen {
  height: 150px;
  width: 80vw;
  border: solid 5px silver;
}

.console {
  display: grid;
  justify-content: center;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: 
  "header header header"
  "main main main"
  "main main main"
  "main main main";
}

.messages {
  grid-area: header;
}

.button {
  height: 50px;
  width: 50px;
  background-color: blue;
  border-radius: 10px;
  grid-area: main / span auto;
  place-content: center;
}